* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1700px;
    margin-left: 400px;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #eee;
    z-index: 9999;
}

.footer .album_cover {
    float: left;
    margin-top: 15px;
    height: 120px;
    width: 120px;
}

.footer .album_cover img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 120px;
}

.footer .song_name {
    margin-top: 15px;
    margin-left: -120px;
    width: 400px;
    height: 60px;
    line-height: 60px;
    float: left;
    font-size: 25px;
    font-weight: 700;
}

.footer .song_name a {
    text-decoration: none;
    color: black;
}

.footer .song .song_singer {
    margin-left: -100px;
    width: 400px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: gray;
}

.footer .song .song_singer a {
    color: gray;
}

.footer .song_play_time {
    position: absolute;
    top: 100px;
    left: 1100px;
    background-color: rgb(197, 190, 190);
    width: 400px;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
}

.footer .song_play_time .song_play_done {
    width: 200px;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: red;
}

.footer .next_song {
    position: absolute;
    top: 15px;
    left: 1440px;
    width: 70px;
    height: 70px;
}

.footer .next_song img {

    max-width: 100%;
    height: 100%;
}

.footer .last_song {
    position: absolute;
    top: 15px;
    left: 1100px;
    width: 70px;
    height: 70px;
}

.footer .last_song img {
    max-width: 100%;
    height: 100%;
}

.footer .stop_song {
    position: absolute;
    top: 15px;
    left: 1280px;
    width: 70px;
    height: 70px;
}

.footer .stop_song img {
    max-width: 100%;
    height: 100%;
}

.footer .song_list_show {
    position: absolute;
    left: 1800px;
    width: 100px;
    height: 30px;
}

.menu {
    position: relative;
    display: none;
}

.footer .menu .li {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: y;
    overflow: scroll;
    position: absolute;
    top: -300px;
    width: 450px;
    height: 300px;
    background-color: #eee;
    border: 5px solid gray;
    border-radius: 20px 20px 0 0;
}

.footer .container .head {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 50px;
    height: 50px;
    justify-content: space-evenly;
}

.footer .container .head img {
    max-width: 100%;
    max-height: 100%;

}

section {
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.curmenu {
    display: block;
}

.menu li .song {
    width: 400px;
    height: 50px;
}

.menu li .song .divi {
    float: left;
    width: 150px;
    height: 30px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
}

.menu li .song .divi_1 {
    float: left;
    width: 150px;
    height: 50px;
    font-size: 21px;
    font-weight: 500;
    color: gray;
}

.footer .circle {
    float: left;
    position: absolute;
    top: 30px;
    left: 1530px;
    width: 70px;
    height: 70px;
}

.footer .circle img {
    max-width: 100%;
    max-height: 100%;
}


.list_name {
    background-color: rgb(235, 232, 232);
    border-radius: 45px;
}